.currencyBox {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  border-radius: 24px;
  padding: 1rem;
}

.currencyImage {
  width: 100%;
}

.currencyValue {
  font-size: 1.125rem;
  text-align: center;
}
